.navbar {

    display: flex;
    border-radius: 3px;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}

.title {
    display: flex;
    align-content: flex-start;
    flex: 1;
    font-style: bold;
    font-size: 24px;
}

.username {

    flex: 0.8;
    font-style: italic;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    justify-content: space-between;
    height: 100%;
    margin-left: 3px;
}

.menu {

    display: flex;
    flex: 4;
    justify-content: space-between;
    margin-left: 10px;
}

.menu-item {

    color: blue;
    font-weight: 500;
    font-size: large;
}