.login {

    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password {

    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.title {

    font-size: 24px;
}

.page-action {

    font-style: bold;
}




