.body {
    display: flex;
    /* center horizontally */
    justify-content: center;
}

.users_home {
    display: flex;
    font-family: 'Playfair Display', serif;
    width: 95%;
    height: 100vh;
    flex-direction: column;
}

.user {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: fit-content;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* center vertically */
    align-items: center;
}